
/* Selects all child of the headContent class */
.headContent > *{
    color: white;

}

/* The large title in headContent */
.headContent h1{
    font-size: 60px;
    margin-top:70px;
    margin-bottom:50px;
}

/* The small subtitle in headContent */
.headContent .subtitle{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}







