{% extends "layout.html" %}

{% block title %}
    Login-The Giganator
{% endblock %}

{% block script %}
{% endblock %}

<!-- Background image and theme colors -->
{% block bgimage %} 
    <style>
        body{
            --primaryColor: #0d103b;
            --secondaryColor: #dce8ef;
            background-image: url("static/blueBG.png");
        }
        .wholeTop{
            background-image: url("static/blueLong.png");
        }
    </style>
{% endblock %}


<!-- For short bgs, set the secondline and subtitle to nothing -->
{% block firstLine %} Login as an Organiser {% endblock %}
{% block secondLine %}  {% endblock %}
{% block subtitle %}  {% endblock %}
{% block headButton %} 
{% endblock %}

{% block content %}
<div>
    <div id = "warning" class = "warning transparentBox">{{ warning }}</div>
    <form action = "/organiserAuthentication", method="POST">
        <div class = "transparentBox"> Email: <input type = "text" name = "email" placeholder = " user@warwick.ac.uk" class = "messageTitle"> </div>
        <div class = "transparentBox"> Password: <input type = "password" name = "password" placeholder = " Password"> </div>
        <div class = "transparentBox"> <input type = "submit" value = "Login as Organiser" class = "largeDarkButton"> </div>
    </form>

    <div class = "transparentBox"> 
        New organiser? <a href = "/organiserRegister">Register</a> with your authorised email.
    </div>
</div>
{% endblock %}