{% extends "layout.html" %}

{% block title %}
    Event-The Giganator
{% endblock %}

{% block script %}
<!-- JSBarcode library for barcodes -->
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.8.0/dist/JsBarcode.all.min.js"></script>
<script>
    var barcodeId = "{{ request.args.get('ticketId') }}";
    function createBarcode(value) {
        JsBarcode("#barcode", value);
    }
</script>

{% endblock %} 

<!-- Background image and theme colors -->
{% block bgimage %} 
    <style>
        body{
            --primaryColor: #3b180d;
            --secondaryColor: #f5e0d3;
            background-image: url("static/orangeBG.png");
        }
        .wholeTop{
            background-image: url("static/orangeLong.png");
        }
    </style>
{% endblock %}


<!-- For short bgs, set the secondline and subtitle to nothing -->
{% block firstLine %} This ticket {% endblock %}
{% block secondLine %}  {% endblock %}
{% block subtitle %}  {% endblock %}
{% block headButton %} 

{% endblock %}

{% block content %}

<div class = "allRow">
    <div class = "largeTitle"> Ticket details </div>
    <div class = "rowItem">
        <div class = "rowContent"> 
            <h1 class = "largeTitle"> Ticket ID: {{entry.ticketId}} </h1>
            Event name: {{entry.name}} <br>
            Event date: {{entry.date}} <br>
            Event location: {{entry.location}} <br>
            Event time: {{entry.time}} ({{entry.duration}}) <br>
        </div> 

        <!-- Cancel ticket button -->
        <form action = "/deleteTicket" method = "GET">
            <!-- Provide event id and ticket id -->
            <input type = "hidden" name = "eventId" value = "{{ request.args.get('eventId') }}">
            <input type = "hidden" name = "ticketId" value = "{{ request.args.get('ticketId') }}">
            <input class = "smallDarkButton secondRow" type = "submit" value = "Cancel ticket"><br>
            
        </form>
       
        <button class = "smallDarkButton top" onclick="createBarcode(barcodeId)">Show barcode</button><br>
        <!-- Barcode shown -->
        <svg id = "barcode"></svg>
    

    </div>
    
</div>


<a class = "smallWhiteButton top bottom" href = "/index"> Back </a><br>
‎ 


{% endblock %}
